{% extends 'base.html' %}

{% block title %} Create An Estimate{% endblock %}


{% block body %}  


  <h1>Create an Estimate</h1>
  <hr>
    <p>
  <br>

  <form action="/estimate_info" method="POST">
    <label for="t_height">
      Height:
      <input type="text"  name="height" id="t_height" autofocus required>
    </label>
    </p>
    
    <p>
    <label for="t_radius">
      Radius:
      <input type="text" name="radius" id="t_radius" autofocus required>
    </label>
   </p>
    <input type="submit" value="Submit">


  </form> 
  {%if data%}
  <p>
    <h3> You're cost is ${{data}}</h3> 
  </p>

  <hr>
  <p> &copy VTM</p>
  {% endif %} 
{% endblock %}