{% extends 'base.html' %}

{% block title %} Home page {% endblock %}

{% block body %} 
<body>
    <div>
        <h1>Verticle Tank Maintance</h1>
        <div>
            <button class="tablink" onclick="document.location='/'">Home</button>
            <button class="tablink" onclick="document.location='about'">About</button>
            <button class="tablink" onclick="document.location='estimate_info'">Estimate</button>
            </div>
        <hr>
        <br>




<img src="above_ground_vertical_tanks.jpg" style="width: 300px;height:300px;">
<body>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Faucibus turpis in eu mi bibendum neque egestas congue quisque. Felis eget velit aliquet sagittis. Imperdiet sed euismod nisi porta lorem. 
    A cras semper auctor neque vitae. Donec enim diam vulputate ut pharetra. Blandit cursus risus at ultrices mi tempus imperdiet. Neque volutpat ac tincidunt vitae semper quis lectus. 
    Vitae purus faucibus ornare suspendisse sed nisi lacus sed viverra. Egestas diam in arcu cursus euismod quis. Nisi vitae suscipit tellus mauris a. Erat pellentesque adipiscing commodo elit at. 
    Pellentesque elit eget gravida cum sociis natoque penatibus et magnis. Maecenas volutpat blandit aliquam etiam erat velit scelerisque in. Elementum curabitur vitae nunc sed.

    Dignissim enim sit amet venenatis urna cursus eget nunc. Natoque penatibus et magnis dis parturient montes. In fermentum et sollicitudin ac.
    Risus commodo viverra maecenas accumsan. Nulla porttitor massa id neque aliquam. Tortor aliquam nulla facilisi cras. Eu ultrices vitae auctor eu. 
    A diam sollicitudin tempor id. Duis at consectetur lorem donec massa. Adipiscing vitae proin sagittis nisl rhoncus mattis. 
    At tellus at urna condimentum mattis pellentesque id. Auctor elit sed vulputate mi sit amet mauris commodo quis. 
    Viverra aliquet eget sit amet tellus cras adipiscing. Arcu cursus euismod quis viverra nibh. Enim blandit volutpat maecenas volutpat. 
    A condimentum vitae sapien pellentesque habitant morbi. Nam libero justo laoreet sit amet.

    Lorem dolor sed viverra ipsum nunc aliquet. Donec ac odio tempor orci dapibus ultrices. 
    Purus in mollis nunc sed id semper risus in hendrerit. 
    Tincidunt nunc pulvinar sapien et ligula ullamcorper. Dignissim enim sit amet venenatis urna cursus eget nunc. 
    Ut venenatis tellus in metus. Diam maecenas sed enim ut. In ornare quam viverra orci sagittis eu. 
    Nisi est sit amet facilisis magna etiam tempor orci eu. Leo a diam sollicitudin tempor id eu nisl nunc. Eros in cursus turpis massa. 
    Magna fringilla urna porttitor rhoncus dolor.
</body>

<hr>
<p> &copy VTM</p>

  
{% endblock %}